<ion-view title="Home" id="page6" style="background-color: rgb(187, 197, 206);">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/IbFsNT48QISKJtL7OAbZ_movietheme.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="home-heading1" style="color: rgb(0, 0, 0); text-align: center;">E-Movie</h1>
    <div class="spacer" style="width: 284.333px; height: 26px;"></div>
    <button ui-sref="main" id="home-button1" class="button button-assertive  button-block">Proceed</button>
  </ion-content>
</ion-view>