<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/movietheme.png) center; background-size: cover;">
        
        <div style="background-color: darkgrey; width: 4in; height:5in; margin-right: 1in; margin-top: 1in" class="pull-right">
        <div align="right" style="margin-right: 2in">
                <img src="img/movielogo.png" alt="no logo" style="width: 1.5in; height: 1.5in; margin-bottom: 0px; margin-left: 1.2in">
         
        <div class="list" align="center">
            <ion-md-input placeholder="Username" highlight-color="balanced" type="text" style="width: 3in;  margin-left: 48px; color: white"></ion-md-input>
            <ion-md-input placeholder="Password" highlight-color="energized" type="password" style="width: 3in;  margin-left: 48px"></ion-md-input>
        </div>
        <br>
        <br>
        <br>
        <div style="margin-right: 2in; margin-left: 48px" align="right">
            <button ui-sref="app.profile" class="button button-full button-assertive ink" style="width: 3in">Login</button>
        </div>
        </div>
        
    </ion-content>
</ion-view>
