<ion-view title="Movie List" id="page3" style="">
  <ion-content padding="true" class="has-header" style="background-color: #ccc">
  <div class="hero slide-up" style="background-color: darkgrey">
            <div class="content">
                <div class="avatar" style="background-image: url('img/movielogo.png');"></div>
                
            </div>
        </div>
        <table class="row" align="center">
        <h3 align="center">2015 Movies</h3>
        <tr>
       
            <td class="padding">
            <img src="img/11.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
            <td class="padding">
            <img src="img/12.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
            <td class="padding">
            <img src="img/13.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
            <td class="padding">
            <img src="img/1.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
        
        </tr>

        <tr>
       
            <td class="padding">
            <img src="img/2.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
            <td class="padding">
            <img src="img/3.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
            <td class="padding">
            <img src="img/4.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
            <td class="padding">
            <img src="img/5.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
        
        </tr>

        <tr>
       
            <td class="padding">
            <img src="img/6.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
            <td class="padding">
            <img src="img/7.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
            <td class="padding">
            <img src="img/8.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
            <td class="padding">
            <img src="img/9.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
        
        </tr>

        <tr>
       
            <td class="padding">
            <img src="img/10.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
            <td class="padding">
            <img src="img/14.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
            <td class="padding">
            <img src="img/15.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
            <td class="padding">
            <img src="img/16.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
        
        </tr>
</table>

        <table class="row" align="center">
        <h3 align="center">2016 Movies</h3>
        <tr>
       
            <td class="padding">
            <img src="img/17.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
            <td class="padding">
            <img src="img/18.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
            <td class="padding">
            <img src="img/19.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
            <td class="padding">
            <img src="img/20.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
        
        </tr>

        <tr>
       
            <td class="padding">
            <img src="img/21.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
            <td class="padding">
            <img src="img/22.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
            <td class="padding">
            <img src="img/23.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
            <td class="padding">
            <img src="img/24.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
        
        </tr>

        <tr>
       
            <td class="padding">
            <img src="img/25.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
            <td class="padding">
            <img src="img/26.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
            <td class="padding">
            <img src="img/27.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
            <td class="padding">
            <img src="img/28.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
        
        </tr>

        <tr>
       
            <td class="padding">
            <img src="img/29.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
            <td class="padding">
            <img src="img/30.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
            <td class="padding">
            <img src="img/31.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
            <td class="padding">
            <img src="img/32.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
        
        </tr>

        <tr>
       
            <td class="padding">
            <img src="img/33.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
            <td class="padding">
            <img src="img/34.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
            <td class="padding">
            <img src="img/35.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
            <td class="padding">
            <img src="img/36.jpg" alt="movie" style=" width: 3in; height: 4in">
            </td>
        
        </tr>
    </table>
  </ion-content>
</ion-view>