<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-color: darkgrey">
            <div class="content">
                <div class="avatar" style="background-image: url('img/movielogo.png');"></div>
                
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Movie Ranking
            </a>
           
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Movie 
            </a>
        </div>
        <table class="row" style="border: solid;">
        <tr style="height: 1in;">
            <td style="padding: 1in">
            1
            </td>
            <td style="padding: 1in">
            2
            </td>
            <td style="padding: 1in">
            3
            </td>
            <td style="padding: 1in">
            4
            </td>
            <td style="padding: 1in">
            5
            </td>
            <td style="padding: 1in">
            6
            </td>
        </tr>
        <tr style="height: 1in">
            <td style="padding: 1in">
            7
            </td>
            <td style="padding: 1in">
            8
            </td>
            <td style="padding: 1in">
            9
            </td>
            <td style="padding: 1in">
            10
            </td>
            <td style="padding: 1in">
            11
            </td>
            <td style="padding: 1in">
            12
            </td>
        </tr>
            <tr style="height: 1in">
            <td>
             </td>
            </tr>
            <tr style="height: 1in">
            <td>
             </td>
            </tr>
            <tr style="height: 1in">
            <td>
             </td>
            </tr>
            <tr style="height: 1in">
            <td>
             </td>
            </tr>

        </table>
        <!-- <h4 class="content padding double-padding-x">Following</h4>
        <div class="list animate-fade-slide-in-right">
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/jon-snow.jpg">
                <h2>Jon Snow</h2>
                <p>Da illest illegitimate</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/sansa.jpg">
                <h2>Sansa Stark</h2>
                <p>&amp; Joffrey <strike>sitting</strike> sat in a tree</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/tyrion.jpg">
                <h2>Tyrion Lannister</h2>
                <p>B.A.M.F. imp</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
        </div> -->
    </ion-content>
</ion-view>
